@media only screen and (max-width: 1024px){


    .mobileMenu1{
        display: block;
    }
    .nav-menu{
        display: none;
        
    }
    .menu-icon span {
        font-size: 3rem;
        color: #fff;
        right: 5%;
        top: 0;
        margin-top: .9rem;
        position: absolute;
        font-weight: 100;
        
        
        cursor: pointer;
    }

    .mobile-menu{
        top: 0;
        right: 0;
        position: fixed;
        width: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .close{
        color: #fff;
        font-size: 5rem; 
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
        
        
    }
    

    .mobile-menu a{
        display: block;
        margin: auto;
        text-align: center;
        font-size: 3.5rem;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        margin: 2rem;
        text-transform: uppercase;
        
    }
    .menu-open{
        position: relative;
        margin-top: 10rem;
    }
    

    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin: 0;
    
    }
    .portfolio-image{
        width: 80%;
        height: auto;
        padding-top: 5rem;
    }
    .testmonial-section .client-photo{
        float: none;
        
        
    }
    .testmonial-section .box{
        
        width: 50%;
        height: 40rem;
        
        
    }
    .testmonial-section .client-photo img{
    
        height: 15rem;
        margin-top: 2rem;
        border-radius: 50%;
        margin-right: 4rem;
    }



    .testmonial-section .testmonial p {
        font-style: italic;
        width: 40rem;
        font-size: 2.1rem;
        text-align: center ;
        color: #fff;
    }
    .testmonial-section .testmonial h3,
    .testmonial-section .testmonial span{
        text-align: center;
    }

    .footer-section{
        height: auto;
    }


    
    
}

@media only screen and (max-width: 980px){

}
@media only screen and (max-width: 768px){
    .sticky{
        width: 100%;
    }
    .skill-section .box{
        margin-top: 0rem;
        
    }
    
    .team-section .box1:nth-child(4){
        margin-top: 0;
    }

    .nav-menu{
        display: none;
        
    }

    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin: 0;
    
    }
    .portfolio-image{
        width: 80%;
        height: auto;
        padding-top: 5rem;
    }
    .testmonial-section .client-photo{
        float: none;
        
        
    }
    .testmonial-section .box{
        
        width: 50%;
        box-sizing: border-box;
        height: 40rem;
        
        
        
    }
    
   



    .testmonial-section .testmonial p {
        font-style: italic;
        width: 30rem;
        font-size: 2.1rem;
        text-align: center ;
        color: #fff;
        box-sizing: border-box;
       
    }
    .contact-section .span_1_of_2{
        width: 100%;
       

    }
    .contact-section .span_1_of_2:nth-child(2){
        margin-left: 0;
    }
    
    .contact-section .row{
        
        width: 75%;
    }
    
        
}

@media only screen and (max-width: 480px){
    .span_1_of_4{
        width: 100%;
    }
    .testmonial-section .span_1_of_2{
        width: 100%;
        text-align: center;
    
    }
    .testmonial-section .testmonial p{
        text-align: center;
        width :100%;
        
    }

    


    .contact-section .col input{
        width: 27rem;
       

    }

    
    
}
